@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
html {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(90deg, rgba(255,160,253,1) 0%, rgba(248,111,209,1) 50%, rgba(255,174,188,1) 100%);
    background-size: 600% 100%;
    font-family: 'Quicksand', sans-serif;
}

img{
  width: 560px;
	height: 315px;
}
.prof-box {
	width: 400px;
	height: 400px;
	background: white;
	padding: 40px;
	color: black;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
  border-radius: 50px;
}
.prof-box-1 {
	width: 500px;
	height: 300px;
	background: white;
  opacity: 0.7;
  filter: alpha(opacity=70);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
  border-radius: 50px;
}

.prof-box-2 {
	width: 400px;
	height: 300px;
	background: white;
  opacity: 0.7;
  filter: alpha(opacity=70);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
  border-radius: 50px;
}

.big-box {
	width: 900px;
	height: 2000px;
	background: white;
  opacity: 0.7;
  filter: alpha(opacity=70);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
  border-radius: 50px;
}
prof-box-1 {
	width: 500px;
	height: 350px;
	background: white;
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
  border-radius: 50px;
}

.prof-box-2 {
	width: 400px;
	height: 350px;
	background: white;
  opacity: 0.7;
  filter: alpha(opacity=70);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
  border-radius: 50px;
}


h1 {
  color: black;
	font-weight: 100;
	letter-spacing: 5;
	font-size: 40px;
}

h5 {
color: black;
	font-weight: 450;
	letter-spacing: 1;
}

p {
  color: black;
	font-weight: 300;
	letter-spacing: 1;
}

li {
 font-weight: 300;
 letter-spacing: 1;
}


.social-icons a {
  color: #000000;
  font-size: 40px;

}

.line-break {
  color: pink;
	width: 380px;
	margin: 0 auto;
	border-top: 1px solid black;
}
